{% extends '../templates/base.html' %}

{% block title %}采购管理{% endblock %}

{% block static %}
<link href="../static/css/base1.css" rel="stylesheet" />
<script src="../static/js/base.js"></script>
<script src="../static/js/buy.js"></script>
<script src="../static/js/self.js"></script>
{% endblock %}

{% block nav %}
    <li><a href="#organization-content" id="get-organization-btn">我的申请</a></li>
    <li><a href="#order-content" id="get-users-btn">我的审批</a></li>
{% endblock %}

{% block content %}
    <div id="organization-content" class="tab-pane">{% include 'consumble/supplier.html' %}</div>
    <div id="order-content" class="tab-pane">{% include 'consumble/myapprove.html' %}</div>
{% endblock %}