<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<!--add-supplier-->
<div class="modal fade" id="addSupplierModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新增供应商</h4>
            </div>
            <div class="modal-body">
                <form id="add-supplier-form">
                <div class="input-group register-input">
                        <span class="input-group-addon">供应商名称:</span>
                        <input type="text" class="form-control" name="name">
                </div>
                <div class="input-group register-input">
                        <span class="input-group-addon">联系电话:</span>
                        <input type="text" class="form-control" name="phone">
                </div>
                <div class="input-group register-input">
                        <span class="input-group-addon">联系人:</span>
                        <input type="text" class="form-control" name="contacts">
                </div>
                <div class="input-group register-input">
                        <span class="input-group-addon">邮箱:</span>
                        <input type="text" class="form-control" name="email">
                </div>
                <div class="input-group register-input">
                        <span class="input-group-addon">地址:</span>
                        <input type="text" class="form-control" name="location">
                </div>
                <div class="input-group register-input">
                        <span class="input-group-addon">备注:</span>
                        <input type="text" class="form-control" name="remark">
                </div>
                <div class="input-group register-input">
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="add-supplier-btn">确定新增</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="input-group col-md-3 content-header">
       <input type="text" class="form-control"placeholder="请输入字段名" />
            <span class="input-group-btn">
               <button class="btn btn-default">查找</button>
               <button class="btn btn-primary" style="margin-left: 5px" id="add-suppliers-btn">新增</button>
            </span>
</div>
<div class="table-responsive">
<table class="table" style="margin-top: 3%" id="supplier-table">
  <thead>
    <tr>
        <th>名称</th>
        <th>联系电话</th>
        <th>联系人</th>
        <th>邮箱</th>
        <th>地址</th>
        <th>备注</th>
        <th>操作</th>
    </tr>
  </thead>
  <tbody id="supplier-info-table">

  </tbody>
</table>

</div>

</body>