<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<!--add-user-->

<div class="modal fade" id="addUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新增人员</h4>
            </div>
            <div class="modal-body">
                <form id="add-user-form">
                <div class="input-group register-input">
                        <span class="input-group-addon">邮箱:</span>
                        <input type="text" class="form-control" name="username">
                </div>
                <input type="hidden" value="123" name="password">
                <div class="input-group register-input">
                </div>
                </form>
                <form id="roles">
                    <input type="checkbox" value="0" name="role_id"/>admin
                    <input type="checkbox" value="1" name="role_id"/>LA
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="add-member-btn">确定新增</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="input-group col-md-3 content-header">
       <input type="text" class="form-control"placeholder="请输入字段名" />
            <span class="input-group-btn">
               <button class="btn btn-default">查找</button>
               <button class="btn btn-primary" style="margin-left: 5px" id="add-user-btn">新增人员</button>
            </span>
</div>
<div class="table-responsive">
<table class="table" style="margin-top: 3%">
  <thead>
    <tr>
        <th>用户名</th>
        <th>电话</th>
        <th>角色权限</th>
        <th>操作</th>
    </tr>
  </thead>
  <tbody id="user-info-table">

  </tbody>
</table>

</div>

</body>
</html>