<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="hidden" id="organization-id" value="">
    <form class="form-horizontal" role="form" id="organization-form">
      <div class="form-group">
        <label class="col-sm-2 control-label">机构名称:</label>
        <div class="col-sm-5">
          <input class="form-control" name="name" id="name">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">地址:</label>
        <div class="col-sm-5">
          <input class="form-control" name="location" id="location">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">主页:</label>
        <div class="col-sm-5">
          <input class="form-control" name="homepage" id="homepage">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">类型:</label>
        <div class="col-sm-5">
            <select type="button" class="btn btn-default" id="type" name="type"></select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">主营业务:</label>
        <div class="col-sm-5">
          <input class="form-control" name="primary_service" id="primary_service">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">电话:</label>
        <div class="col-sm-5">
          <input class="form-control" name="phone" id="phone">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-primary" id="save">保存</button>
        </div>
      </div>
    </form>
</body>
</html>